
/Hardware/Hardware.runs/
/Hardware/Hardware.cache/
/Hardware/Hardware.hw/
/Hardware/Hardware.gen/
/Hardware/Hardware.ip_user_files/

ignoreThis.txt


*.wdb             # Waveform Database files
*.log
*.jou
*.pb
/xsim/
/sim_1/


/platform/
/export/
*.elf
*.bin
*.bif
*.bit
*.mcs
*.prm
/.vitis/


*.backup
*.bmm
*.mmi
*.rpt
*.str
*.tcl.backup
.Xil/

*~
*.swp
.DS_Store
Thumbs.db
/build/
/dist/